:root {
  --primary-color-c1: #21264d;
  --primary-color-c2: #2c2f63;
  --primary-color-c3: #181935;
  --primary-color-c4: #51527a;
  --secondary-color-c1: #a89859;
  --tertiary-color-c1: #4f2c7a;
  --tertiary-color-c2: #ccccff;
  --tertiary-color-c3: #7e7f9e;
  --tertiary-color-c4: #e8e8ff;
  --tertiary-color-c5: #181935;
  --tertiary-color-c6: #2a0e4d;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: var(--tertiary-color-c4);
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  gap: 20px;
}

li a {
  color: #fff;
  font-size: 0.95rem;
  font-weight: bold;
}

header {
  background-color: var(--primary-color-c1);
  padding: 20px 20px;
}

#menu a {
  padding: 10px;
}

.logo {
  color: #fff;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.1rem;
  display: inline;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
}

@media (min-width: 700px) {
  #barra {
    display: none;
  }
  #fechar {
    display: none;
  }
}

@media (min-width: 100px) and (max-width: 700px) {
  nav i {
    cursor: pointer;
    color: #fff;
    display: inline;
    align-items: center;
    font-size: 1.5rem;
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: block;
  }

  .menu ul {
    display: block;
    position: absolute;
    width: 100%;
    right: 0;
    top: 65px;
    background-color: var(--primary-color-c1);
    z-index: 10;
  }

  .menu ul li {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #fechar {
    display: none;
  }

  #barra.remove {
    display: none;
  }

  #fechar.active {
    display: block;
  }
}

/*colors*/

.bg-primary-color-c1 {
  background-color: var(--primary-color-c1);
}

.primary-font-color {
  color: var(--tertiary-color-c1);
}

.secondary-font-color {
  color: var(--secondary-color-c1);
}

.prymary-font-color-c4 {
  color: var(--primary-color-c4);
}

.primary-font-color-c3 {
  color: var(--primary-color-c3);
}

.text-color-white {
  color: var(--white-color);
}

.text-color-tertiary-c5 {
  color: var(--tertiary-color-c5);
}

/* containers */
.container-lg {
  max-width: 90%;
  margin: 0 auto;
  padding: 7.5rem;
}

.container-sm {
  max-width: 80%;
  margin: 0 auto;
  padding: 7.5rem;
}

@media (max-width: 1200px) {
  .container-lg {
    padding: 5rem;
  }

  .container-sm {
    padding: 5rem;
  }
}

@media (max-width: 768px) {
  .container-lg {
    max-width: 100%;
  }

  .container-sm {
    max-width: 95%;
  }
}

/* main section */
.main-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.main-text {
  max-width: 60%;
}

.main-content h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.5rem;
  color: var(--white-color);
  word-break: keep-all;
  margin-bottom: 25px;
}

.main-content p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--tertiary-color-c3);
  margin-bottom: 50px;
}

.botao-type-1 {
  background: linear-gradient(
    90deg,
    rgba(79, 44, 122, 1) 16%,
    rgba(71, 76, 255, 1) 100%
  );
  padding: 20px 50px;
  color: var(--white-color);
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

.botao-type-1:hover {
  background: linear-gradient(
    60deg,
    rgba(71, 76, 255, 1) 16%,
    rgba(79, 44, 122, 1) 100%
  );
}

.main-ilustrations {
  display: block;
  max-width: 80%;
  margin-top: 50px;
}

.main-image-1 {
  position: relative;
  bottom: -150px;
  left: 150px;
  z-index: 1;
}

.main-image-2 {
  position: relative;
  top: -400px;
}

@media (max-width: 1290px) {
  .botao-type-1 {
    padding: 15px 35px;
    font-size: 1.5rem;
  }

  .main-ilustrations img {
    max-width: 250px;
  }

  .main-image-1 {
    left: 150px;
    z-index: 1;
  }

  .main-image-2 {
    position: relative;
    top: -300px;
  }
}

@media (max-width: 1070px) {
  .main-ilustrations {
    display: none;
  }

  .main-text {
    max-width: 100%;
    height: 70vh;
  }
}

@media (max-width: 768px) {
  .main-content h1 {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 12.5px;
  }

  .main-content p {
    font-size: 1.5rem;
    line-height: 1.9rem;
    margin-bottom: 25px;
  }

  .botao-type-1 {
    padding: 10px 25px;
    font-size: 1rem;
  }

  .main-text {
    width: 100vw;
    height: 55vh;
  }

  .main-content {
    flex-direction: column;
  }
}

@media (max-width: 470px) {
  .botao-type-1 {
    padding: 10px 25px;
    font-size: 0.6rem;
  }
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 150px;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 1.3rem;
    margin-bottom: 25px;
  }
}

/* why section */
.why-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 200px 50px;
}

.why-item-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.why-item-group p {
  color: var(--white-color);
  text-align: center;
  max-width: 70%;
}

.why-item-group img {
  height: 50px;
  width: auto;
}

@media (max-width: 768px) {
  .why-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px 25px;
  }
}

/*Computers sectioon*/
.computers-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}

.computers-item-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.computer-description {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: var(--tertiary-color-c3);
  margin-bottom: 15px;
}

.computers {
  margin: 100px 0 50px 0;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--tertiary-color-c1);
}

.botao-type-2 {
  background: linear-gradient(
    90deg,
    rgba(79, 44, 122, 1) 16%,
    rgba(71, 76, 255, 1) 100%
  );
  padding: 10px 25px;
  color: var(--white-color);
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  justify-self: flex-end;
  cursor: pointer;
  text-transform: uppercase;
}

.gaming {
  background-color: var(--primary-color-c1);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: relative;
  width: 90vw;
  float: right;
}

.computers-item-texts-gaming {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.gaming h3 {
  color: var(--secondary-color-c1);
}

.gaming p {
  text-align: end;
}

@media (max-width: 1000px) {
  .computers-item-image img {
    width: 250px;
  }
}

@media (max-width: 1000px) {
  .computers-item-image img {
    display: none;
  }
}

@media (max-width: 768px) {
  .computers-items {
    gap: 25px;
    margin-bottom: 50px;
  }

  .computers-item-texts {
    gap: 10px;
  }

  .computer-description {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-bottom: 10px;
  }

  .computers {
    margin: 50px 0 25px 0;
  }

  .price {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  .botao-type-2 {
    padding: 5px 12.5px;
    font-size: 0.6rem;
    justify-self: flex-end;
    cursor: pointer;
    text-transform: uppercase;
  }

  .gaming {
    background-color: var(--primary-color-c1);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
    width: 90vw;
    float: right;
  }

  .computers-item-texts-gaming {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
}
/* consultancy section*/
.consultancy {
  background-color: var(--tertiary-color-c1);
}

.consultancy h2 {
  color: var(--tertiary-color-c6);
  margin-bottom: 150px;
}

.consultancy-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.consultancy-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tertiary-color-c5);
  border-radius: 50px;
  height: 100%;
  padding: 40px 60px;
}

.consultancy-item-title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.4rem;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.consultancy-item-description {
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 18ch;
  font-weight: regular;
  color: var(--white-color);
  text-align: center;
}

.consultancy-btn {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.botao-type-3 {
  background: linear-gradient(
    90deg,
    rgba(129, 89, 178, 1) 0%,
    rgba(71, 76, 255, 1) 100%
  );
  padding: 15px 60px;
  color: var(--white-color);
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .consultancy-content {
    grid-template-columns: 1fr 1fr;
  }

  .item-3 {
    grid-column: 1/3;
  }
}

@media (max-width: 768px) {
  .consultancy-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .consultancy-item {
    padding: 20px 30px;
  }

  .consultancy-item-title {
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-bottom: 25px;
    text-align: center;
  }

  .consultancy-item-description {
    font-size: 1rem;
    line-height: 1.8rem;
    max-width: 18ch;
    height: 240px;
    padding-bottom: 20px;
    text-align: center;
  }

  .consultancy-btn {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  .botao-type-3 {
    padding: 7.5px 30px;
    font-size: 0.8rem;
  }
}

/*contact section*/
.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
}

.contact-content-img img {
  max-width: 600px;
  height: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form-group input,
select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: var(--tertiary-color-c1);
}

.form-group input:focus {
  border: 1px solid var(--tertiary-color-c6);
  outline: none;
}

.form-group input::placeholder {
  color: var(--tertiary-color-c1);
}

.contact-btn {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.button-type-4 {
  background: linear-gradient(
    90deg,
    rgba(129, 89, 178, 1) 0%,
    rgba(71, 76, 255, 1) 100%
  );
  padding: 20px 100px;
  color: var(--white-color);
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 1330px) {
  .contact-content-img img {
    max-width: 300px;
    height: auto;
  }
}

@media (max-width: 880px) {
  .contact-content-img img {
    display: none;
  }

  .contact-content {
    grid-template-columns: 1fr;
  }

  .button-type-4 {
    padding: 10px 50px;
    font-size: 1rem;
  }
}

.footer {
  background-color: var(--primary-color-c1);
}

.footer-brand {
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.1rem;
  display: inline;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.footer-list h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white-color);
  line-height: 2rem;
  text-align: center;
  margin-bottom: 15px;
}

.footer-list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.footer-list ul li a {
  color: var(--white-color);
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.copyright p {
  color: var(--white-color);
  font-size: 0.8rem;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 0;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group-search {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.form-group-search input {
  padding: 16px 16px 16px 30px;
  border-radius: 10px;
  padding-left: 45px;
  border: none;
  color: var(--tertiary-color-c1);
  width: 100%;
  background-color: var(--tertiary-color-c2);
  transition: border-color 0.3s ease;
}

.form-group-search input:focus {
  border: 2px solid var(--tertiary-color-c6);
  outline: none;
}

.form-group-search input::placeholder {
  padding-left: 25px;
  margin-left: 25px;
  color: var(--tertiary-color-c1);
}

.form-group-search input::content {
  padding-left: 20px;
}

.form-group-search img {
  position: absolute;
  left: 20px;
}

.accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion-wrapper {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin: 50px auto;
}

.accordion {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 8px;
}

.accordion:last-child {
  margin-bottom: 0;
}

.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px;
  background: var(--tertiary-color-c2);
  font-weight: bold;
  cursor: pointer;
  color: var(--tertiary-color-c1);
  font-size: 20px;
}

.accordion-label:hover {
  background: var(--tertiary-color-c5);
}

.accordion-label::after {
  content: "\276F";
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.accordion-content {
  max-height: 0;
  padding: 0 16px;
  color: var(--tertiary-color-c1);
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.accordion-content p {
  margin: 0;
  color: var(--tertiary-color-c1);
  font-size: 18px;
}

input:checked + .accordion-label {
  background: var(--tertiary-color-c2);
}

input:checked + .accordion-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 16px;
}
